<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.eshipz.qa.utils.ReadFromPDF"/>
      <class name="com.eshipz.qa.utils.ReadFromImage"/>
      <class name="com.eshipz.qa.testcases.LoginTest"/>
      <class name="com.eshipz.qa.testcases.FedExLabel"/>
      <class name="com.eshipz.qa.utils.Trial"/>
      <class name="com.eshipz.qa.testcases.ForwardShipmentTestCOPY"/>
      <class name="com.eshipz.qa.testcases.ForwardShipmentTest"/>
      <class name="com.eshipz.qa.testcases.PPT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
